.SignIn {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 300px 1fr;
    grid-template-rows: 1fr auto 100px 1fr;
}

.SignIn_form {
    display: grid;
    grid-gap: 20px;
    grid-column-start: 2;
    grid-row-start: 2;
    font-size: 18px;
    color: #172a49;
    padding: 20px;
    border: 1px solid #172a49;
}

.SignIn_error {
    color: #ff4f4f;
    border: 1px solid #ff4f4f;
    padding: 15px;
}

.SignIn_form-field {
    display: grid;
    grid-gap: 5px;
    cursor: pointer;
}

.SignIn_form-login,
.SignIn_form-password {
    font-size: 18px;
    border: 1px solid #172a49;
    padding: 5px;
}

.SignIn_form-submit {
    font-size: 18px;
    font-family: 'SourceSans', sans-serif;
    padding: 5px;
    background: #ffffff;
    outline: none;
    cursor: pointer;
    border: 1px solid #172a49;
}

.SignIn_form-submit:hover {
    background: #172a49;
    color: #ffffff;
    transition: background 0.5s ease-out, color 0.5s ease-out;
}

.SignIn_link {
    text-align: center;
}
