@font-face {
    font-family: 'SourceSans';
    src: url('../fonts/SourceSansVariable-Roman.ttf') format('truetype-variations');
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'SourceSans', sans-serif;
    font-variation-settings: "wght" 370;
}

* {
    box-sizing: border-box;
}
